$borderColor = transparent


// custom
$homeHeader__textColor = #fff
$homeHeader__accentColor = #fff
$homeHeader__borderColor = transparent
$homeHeader__bgColor = #159957
$homeHeader__bgImage = linear-gradient(120deg, #155799, #159957)

$navbar__textColor = #fff
$navbar__accentColor = #fff
$navbar__borderColor = transparent
$navbar__bgColor = #159957
$navbar__bgImage = linear-gradient(120deg, #15628E, #159957)
